.profileMain
  .main
    =render "shared/side_var"
    .main__form
      .main__form__title
        User search
      = form_with url: search_profiles_path, id: "test", local: true, method: :get do |f|
        .main__form__box
          = f.text_field :keyword, placeholder: "type a keyword", class: "main__form__box__text"
          = f.submit "Search", class: "main__form__box__submit"

      .main__users
        .main__users__title
          User list
        .main__users__list
          - @users.each do |user|
            .main__users__list__row
              = image_tag user.image.url, class: "main__users__list__row__image"
              = link_to user.name, user_path(user), class: "main__users__list__row__name"