
.profileMain
  .main
    %ul.side__menu
      %li.side__menu__myPage
        = link_to "My page", user_path(current_user.id), class: "side__menu__myPage__btn"
      %li.side__menu__follow
        = link_to "Follow", follows_path(current_user.id), class: "side__menu__follow__btn"
      %li.side__menu__follower
        = link_to "Follower", followers_path(current_user.id), class: "side__menu__follower__btn"
      .user__logout
        = link_to "Log out", destroy_user_session_path, method: :delete, class: 'user__logout__btn'
    .main__form
      .main__form__title
        User search
      = form_with url: search_profiles_path, id: "test", local: true, method: :get do |f|
        .main__form__box
          = f.text_field :keyword, placeholder: "type a keyword", class: "main__form__box__text"
          = f.submit "Search", class: "main__form__box__submit"

      .main__users
        .main__users__title
          User list
        .main__users__list
          - @users.each do |user|
            .main__users__name
              = user.name
              = link_to "Details", user_path(user), class: "main__users__details"