.title
  Enginner Profile

.main
  %ul.side__menu
    %li.side__menu__myPage
      my page
    %li.side__menu__follow
      follow
    .user__edit
      = link_to "log out", destroy_user_session_path, method: :delete, class: 'btn'
  .main__form
    .main__form__title
      user search
    .main__form__box
      = form_with do |f|
        .main__form__box__input
          =f.text_field :string, placeholder: "type a keyword", class: "main__form__box__text"
          = f.submit 'search', class: 'main__submit__btn'
    .main__users
      - @users.each do |user|
        .main__users__name
          = user.name
          = link_to "詳細", user_path(user), class: "main__users__details"
            
