#account-page.account-page
  .account-page__inner
    .account-page__inner__text
      %h2 Create Account
      = render "devise/shared/links"
    .account-page__inner--right.user-form
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        .field
          .field-label
            = f.label :name
          .field-input
            = f.text_field :name, placeholder: "please enter", autofocus: true
        .field
          .field-label
            = f.label :email
          .field-input
            = f.email_field :email, placeholder: "please enter"
        .field
          .field-label
            = f.label :age
          .field-input
            = f.text_field :age, placeholder: "please enter"
        .field
          .field-label
            = f.label :occupation
          .field-input
            = f.text_field :occupation, placeholder: "please enter"
        .field
          .field-label
            = f.label :experience
          .field-input
            = f.text_field :experience, placeholder: "please enter"
        .field
          .field-label
            = f.label :sns, "SNS"
          .field-input
            = f.text_field :sns, placeholder: "please enter"
        .field
          .field-label
            = f.label :programming_lang, "Programmnig Lang"
          .field-input
            = f.text_area :programming_lang, rows: 10, cols: 51, placeholder: "please enter"
        .field
          .field-label
            = f.label :pr, "PR"
          .field-input
            = f.text_area :pr, rows: 10, cols: 51, placeholder: "please enter"
        .field
          .field-label
            = f.label :password
            %i (英数字8文字以上)
          .field-input
            = f.password_field :password, placeholder: "please enter", autocomplete: "off"
        .field
          .field-label
            = f.label :password_confirmation
          .field-input
            = f.password_field :password_confirmation, placeholder: "please enter", autocomplete: "off"
        .actions
          = f.submit "Create Account", class: 'btn'