#account-page.account-page
  .account-page__inner
    .account-page__inner__text
      %h2 Edit Account
    .account-page__inner--right.user-form
      = form_for(current_user) do |f|
        .field
          .field-label
            - if @user.image?
              = f.label :image do
                = image_tag @user.image.url, class: "imageFieldLabel"
            - else
              = f.label :image,"-", class: "imageFieldLabel"
          .field-input
            = f.file_field :image, class: "imageField"
        .field
          .field-label
            = f.label :name
          .field-input
            = f.text_field :name, autofocus: true
        .field
          .field-label
            = f.label :email
          .field-input
            = f.email_field :email
        .field
          .field-label
            = f.label :age
          .field-input
            = f.text_field :age
        .field
          .field-label
            = f.label :occupation
          .field-input
            = f.text_field :occupation
        .field
          .field-label
            = f.label :experience
          .field-input
            = f.text_field :experience
        .field
          .field-label
            = f.label :sns, "SNS"
          .field-input
            = f.text_field :sns
        .field
          .field-label
            = f.label :programmnig_lang, "Programmnig Lang"
          .field-input
            = f.text_area :programming_lang, rows: 8, cols: 51, wrap: "hard", class: "text_area", placeholder: "please enter\nマークダウン記法が使えます"
        .field
          .field-label
            = f.label :pr, "PR"
          .field-input
            = f.text_area :pr, rows: 15, cols: 58, wrap: "hard", class: "text_area", placeholder: "please enter\nマークダウン記法が使えます"
        .actions
          = f.submit "Update", class: 'btn'
