.user__header
  %ul.user__box
    %li.user__box__picture
      写真
    %li.user__box__name
      = @user.name
  .follow__btn
    = render "relationships/follow_button", user: @user
.user__main
  .user__age
    age
    = @user.age
  .user__jobs
    occupation
    = @user.occupation
  .user__experience
    experience
    = @user.experience
  
  .user__sns
    SNS
    = @user.sns
  .user__programminglang
    Programmnig lang
    = @user.programming_lang
  .user__pr
    PR
    = @user.pr
  .user__form
    Inquiry form
    ここは問い合わせフォーム

  .user__edit
    = link_to "edit", edit_user_path, class: 'user__edit__btn'