.profileMain
  .space
  .main
    =render "shared/side_var"

    .user__main
      .user__main__top
        .user__main__picture
          = image_tag @user.image.url, class: "user__main__picture--design"
        .followOrEdit__btn#follow__form
          = render "relationships/follow_button", user: @user
      .user__main__bottom
        .user__main__bottom__left
          .user__box__name
            = @user.name
          %ul.user__age
            %li Age
            %li= @user.age
          %ul.user__jobs
            %li Occupation
            %li= @user.occupation
          %ul.user__experience
            %li Experience
            %li= @user.experience
          %ul.user__sns
            %li SNS
            %li= markdown(@user.sns)
          %ul.user__programminglang
            %li Programmnig lang
            %li= markdown(@user.programming_lang)
        .user__main__bottom__right
          %ul.user__pr
            %li PR
            %li= markdown(@user.pr)

      .posts
        .posts__title
          portfolio
        .posts__form
          - if current_user == @user
            = link_to "New Post", new_post_path, class: "new__post__btn"

        .posts__list
          - @user.posts.each do |post|
            .posts__list__card
              .posts__list__card--image
                = image_tag post.image.url
              .posts__list__card--work
                - if current_user == @user
                  = image_tag "arrow_top.png", class: "posts__list__card--work--arrow"
                  %ul
                    %li
                      = link_to "Edit", edit_post_path(post.id)
                    %li
                      = link_to "Delete", post_path(post.id), method: :delete

              .posts__list__card--title
                = post.title
              .posts__list__card--comment
                = simple_format(post.comment)
              .posts__list__card--url
                = link_to "#{post.url}", "#{post.url}", target: :_blank, class: "url__btn"