#account-page.account-page
  .account-page__inner
    .account-page__inner__text
      %h2 Log in
      
    .account-page__inner__main
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          .field-label
            = f.label :email
          .field-input
            = f.email_field :email, autofocus: true
          .field-label
            = f.label :password
            %i (英数字8文字以上)
          .field-input
            = f.password_field :password, autocomplete: "off"
          .actions
            = f.submit "Log in"
    .account-page__signUp 
      = render "devise/shared/links"